@import url(variables.css);

.header {
    width: -webkit-fill-available;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    margin: 20px;
    padding: 8px 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    box-sizing: border-box;
    border-radius: 10px;
    width: -webkit-fill-available;
    height: 100%;
    margin: 0px 20px 20px 20px;
}
.main__content--title {
    width: 100%;
    font-family: var(--font-family-second);
    font-weight: bold;
    font-size: 19px;
    margin-left: 10px;
}

.main__box {
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    height: -webkit-fill-available;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}

.main--containerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px 0;
    width: 100%;
    height: -webkit-fill-available;
    padding: 20px;
    box-sizing: border-box;
}

.main--header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__create-link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #297ae4;
    margin-right: 10px;
}

.footer {
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: -webkit-fill-available;
    height: 200px;
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}

.footer__social {
    height: 100%;
}

.footer__links {
    display: flex;
    flex-direction: column;
    line-height: 1.9;
    height: 100%;
}

.footer__copy {
    display: flex;
    height: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .logo__header {
        width: 135px;
    }

    .logo__footer {
        width: 135px;
    }

    .main--containerCards {
        justify-content: space-between;
    }
}

@media screen and (max-width: 360px) {
    .header {
        padding: 11px 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px 0px;
        align-content: center;
    }

    .logo {
        order: 1;
    }

    .logo__footer {
        width: 117px;
    }

    .main--containerCards {
        gap: 18px 18px;
        padding: 20px 0;
    }

    .footer {
        padding: 20px;
        height: auto;
    }

    .footer__data {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .footer__links {
        text-align: center;
    }

}
