.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 190px;
    height: 270px;
    padding: .8em;
    background: transparent;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 0 0 15px -2px rgb(0 0 0 / 15%);
}

.card-img {
    background-color: #a2d2ff;
    height: 130px;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
}

.img--link {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-info {
    padding-top: 10%;
}

svg {
    cursor: pointer;
    border: 1px solid black;
    margin: 0;
    border-radius: 50%;
    padding: 3px 5px 3px 3px;
    width: 65%;
    height: 65%;
    transition: 0.6s ease;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.1;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Hover*/
svg:hover {
    background: black;
    fill: #fff;
}

.card-data-container {
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 90%;
    height: auto;
    background: white;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    bottom: 0;
}


