.btnLogin {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

button {
    --primary-color: #297ae4;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    font-family: var(--font-family-second);
    font-weight: bold;
    width: 126px;
    height: 42px;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1em 1.5em;
    background: var(--primary-color);
    transition: 0.2s background;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

@media screen and (max-width: 768px) {
    .btnLogin {
        justify-content: center;
    }

    button .arrow-wrapper {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .btnLogin {
        order: 2;
        width: auto;
    }

    button {
        width: 118px;
        height: 30px;
        padding: 1em 1em;
        font-size: 13px;
    }

    button .arrow-wrapper {
        display: none;
    }
}